$dark: #252525;
$darker: #121212;
$light: #f7f7f7;
$lighter: white;

$max-width: 1024px;

$font-family: 'Scada', sans-serif;

$font-rg-16: normal normal 400 16px $font-family;
$font-sb-16: normal normal 600 16px $font-family;
$font-rg-24: normal normal 400 24px $font-family;
$font-sb-24: normal normal 600 24px $font-family;
