@import 'reset-css';

@import url('https://fonts.googleapis.com/css2?family=Scada:wght@400;700&display=swap');

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-rg-16;

  color: $light;
  background: $darker;

  padding-top: 48px;

  input, button {
    border: none;
    border-radius: 16px;
    font: $font-rg-16;
    cursor: pointer;

    &::placeholder {
      color: $dark;
      opacity: 1;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .category {
    border-radius: 16px;
    height: 1rem;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: space-between;
    color: $darker;

    .name {
      width: max-content;
    }

    .icon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }
}