@import 'reset-css';

@import url('https://fonts.googleapis.com/css2?family=Scada:wght@400;700&display=swap');

#app {
  font-family: 'Scada', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  color: $light;
  background: $darker;

  padding-top: 48px;

  input, button {
    border: none;
    border-radius: 16px;
    font-size: 16px;

    &::placeholder {
      color: $dark;
      opacity: 1;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .category {
    border-radius: 16px;
    height: 1rem;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $darker;

    span {
      width: 16px;
      height: 16px;
      margin-left: 4px;
      vertical-align: middle;
    }
  }
}